*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #38383A;
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 0;
}
.main-section-container{
    border-right:1px solid #fff;
    width: 70%;
}
.main-section-container div{
    color: #fff;
    
    height: 100px;
    background-color: #44444d;
    
}
.main-section-container div i{
    margin: 30px;
    font-size: 25px;
}
.main-section-list{
    transform: rotate(-90deg);
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
    top: 77%;

}
.main-section-list li{
    color: #fff;
    font-size: 18px;
}
.main-section-list li:not(:last-child){
    margin-right: 50px;
}
.main-container{
    font-family: 'Lato', sans-serif;
    background: url(./images/backraund.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    width: 100%;
}

.container{
    max-width: 1300px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}
.site-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 90px;
}
.site-logo{
    text-decoration: none;
    color: #fff;
    font-size: 46px;
    font-weight: 700;
}
.site-logo:hover{
    opacity: 0.8;
}
.site-logo:active{
    opacity: 0.6;
}
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-item a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    
    transition: 0.5s;
}
.navbar-item a:hover{
    color: rgb(221, 187, 187);
}
.navbar-item a:active{
    opacity: 0.8;
}
.navbar-list .active a{
    color: rgb(221, 187, 187);
    border-bottom: 2px solid rgb(221, 187, 187);
    padding-bottom: 5px;
}

.site-main{
    width: 100%;
}
.collection-content{
    margin-top: 130px;
    width: 50%;
}
.collection-content h4{
    font-size: 18px;
    margin: 5px 0;
}
.collection-content div{
    height: 3px;
    width: 250px;
    border-radius: 50px;
    background-color: #fff;
    margin-bottom: 20px;
}
.collection-content div div{
    width: 170px;
    height: inherit;
    background-color: khaki;
    border-radius: inherit;
}
.collection-content p{
    margin: 15px 0;
}

.main-content{
    width: 50%;
    margin-left: 50%;
   
    margin-top: -150px;
}
.main-content h2{
    font-size: 80px;
    
}
.main-content p{
    font-size: 18px;
    line-height: 27px;
}
.main-content p span{
    text-decoration: underline;
}
.site-footer{
    margin-top: 200px;
    background-color: rgba(14, 14, 19, 0.7);
    width: 100%;
    padding-bottom: 30px;
}
.footer-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
   
}
.footer-img{
    height:200px;
    width: 200px;
    object-fit: cover   ;
}
.footer-list li p{
    margin: 15px 0;
}
.footer-list li i{
    font-size: 8px;
}
.footer-list li a{
    text-decoration: none;
    color: #fff;
}
.footer-list li a:hover{
    opacity: 0.8;
}
.footer-list li a:active{
    opacity: 0.6;
}

/* Responsive */
 @media (max-width :1024px){
    
     .site-header{
         flex-direction: column;
         justify-content: space-between;
         width: 100%;
     }
     .site-logo{
         margin: 30px 0;
     }
     .navbar-list{
         width: 80%;
     }
     .main-content h2{
         font-size: 55px;
     }
     .site-footer{
         width: 100%;
         text-align: center;
     }
     .footer-list{
         flex-wrap: wrap;
     }
     .footer-list li img{
         margin: 15px 0;
     }
 }
 @media (max-width :768px){
     body{
         grid-template-columns: 100px 5fr;
     }
     .container{
         padding: 0 20px;
     }
     .navbar-list{
         width: 100%;
     }
     
     .collection-content{
         width: 100%;
     }
     .main-content{
         width: 100%;
         margin: 40px 0;
         text-align: center;

     }
     .main-content h2{
         font-size: 45px;
     }
     
    
 }
 @media (max-width :480px){
      .navbar-list{
          flex-direction: column;
      }
      .navbar-item{
          margin-bottom: 10px;
      }
      .collection-content{
          margin-top: 250px;
      }
 }

