*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    background-color: #38383A;
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: 0;
}
.main-section-container{
    border-right:1px solid #fff;
}
.main-section-container div{
    color: #fff;
    height: 10rem;
    background-color: #44444d;
    
}
.main-section-container div i{
    margin: 3rem;
    font-size: 2.5rem;
}
.main-section-list{
    transform: rotate(-90deg);
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
    top: 77%;

}
.main-section-list li{
    color: #fff;
    font-size: 1.8rem;
}
.main-section-list li:not(:last-child){
    margin-right: 5rem;
}
.main-container{
    font-family: 'Lato', sans-serif;
    background: url(./images/backraund.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    width: 100%;
}

.container{
    max-width: 1300px;
    width: 100%;
    padding: 0 5rem;
    margin: 0 auto;
}
.site-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 9rem;
}
.site-logo{
    text-decoration: none;
    color: #fff;
    font-size: 4.6rem;
    font-weight: 700;
}
.site-logo:hover{
    opacity: 0.8;
}
.site-logo:active{
    opacity: 0.6;
}
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-item a{
    text-decoration: none;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 400;
    
    transition: 0.5s;
}
.navbar-item a:hover{
    color: rgb(221, 187, 187);
}
.navbar-item a:active{
    opacity: 0.8;
}
.navbar-list .active a{
    color: rgb(221, 187, 187);
    border-bottom: 2px solid rgb(221, 187, 187);
    padding-bottom: 0.5rem;
}

.site-main{
    width: 100%;
}
.collection-content{
    margin-top: 13rem;
    width: 50%;
}
.collection-content h4{
    font-size: 2rem;
    margin: 0.5rem 0;
}
.collection-content div{
    height: 0.3rem;
    width: 25rem;
    border-radius: 5rem;
    background-color: #fff;
    margin-bottom: 2rem;
}
.collection-content div div{
    width: 70%;
    height: inherit;
    background-color: khaki;
    border-radius: inherit;
}
.collection-content p{
    margin: 1.5rem 0;
    font-size: 1.8rem;
}

.main-content{
    width: 50%;
    margin-left: 50%;
    margin-top: -15rem;
}
.main-content h2{
    font-size: 8rem;
    
}
.main-content p{
    font-size: 1.8rem;
    line-height: 2.7rem;
}
.main-content p span{
    text-decoration: underline;
}
.site-footer{
    /* margin-top: 20rem; */
    background-color: rgba(14, 14, 19, 0.7);
    width: 100%;
    padding-bottom: 3rem;
}
.footer-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
   
}
.footer-img{
    height:20rem;
    width: 20rem;
    object-fit: cover   ;
}
.footer-list li h3{
    font-size: 2rem;
}
.footer-list li p{
    margin: 1.5rem 0;
    font-size: 1.8rem;
}
.footer-list li i{
    font-size: 0.8rem;
}
.footer-list li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
}
.footer-list li a:hover{
    opacity: 0.8;
}
.footer-list li a:active{
    opacity: 0.6;
}

/* Responsive */
 @media (max-width :1024px){
    
     .site-header{
         flex-direction: column;
         justify-content: space-between;
         width: 100%;
     }
     .site-logo{
         margin: 3rem 0;
     }
     .navbar-list{
         width: 80%;
     }
     .main-content h2{
         font-size: 5.5rem;
     }
     .site-footer{
         width: 100%;
         text-align: center;
     }
     .footer-list{
         flex-wrap: wrap;
     }
     .footer-list li img{
         margin: 1.5rem 0;
     }
 }
 @media (max-width :768px){
     body{
         display: flex;
         flex-direction: column;
     }
     .main-section-container{
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-right: 2rem;
         border: none;
     }
     .main-section-list{
         transform: rotate(0deg);
         position: static;
         margin-top: 0;
     }
     .container{
         padding: 0 2rem;
     }
     .navbar-list{
         width: 100%;
     }
     
     .collection-content{
         width: 100%;
         text-align: center;
     }
     .collection-content div{
         width: 100%;
         text-align: center;
     }
     .collection-content div div{
         width: 70%;
     }
     .main-content{
         width: 100%;
         margin: 4rem 0;
         text-align: center;

     }
     .main-content h2{
         font-size: 4.5rem;
     }
     
    
 }
 @media (max-width :480px){
      .navbar-list{
          flex-direction: column;
      }
      .navbar-item{
          margin-bottom: 1rem;
      }
      .collection-content{
          margin-top: 25rem;
          text-align: center;
      }
      .site-footer{
          width: 100%;
          text-align: center;
      }
      .footer-list{
          width: 100%;
          text-align: center;
          flex-direction: column;
          margin: 2rem 0;
      }
      .footer-list li h3{
          margin-top: 2rem;
      }
      .footer-list li img{
          border-radius: 1rem;
      }
 }

